{$DOMAIN} {
    encode zstd gzip
    header Strict-Transport-Security "max-age=31536000"
    handle /downloads/fleet-tracker-1.0.1-test.apk {
        root * /srv
        header Content-Type "application/vnd.android.package-archive"
        header Content-Disposition "attachment; filename=fleet-tracker-1.0.1-test.apk"
        header X-Content-Type-Options "nosniff"
        file_server
    }
    handle /downloads/fleet-tracker-1.0.0-test.apk {
        root * /srv
        header Content-Type "application/vnd.android.package-archive"
        header Content-Disposition "attachment; filename=fleet-tracker-1.0.0-test.apk"
        header X-Content-Type-Options "nosniff"
        file_server
    }
    handle {
        reverse_proxy web:80
    }
}
